*{
    margin: 0%;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.d1{
    background-image: url('/images/food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    width: 100%;
}
.nav {
    background: transparent;
}

.nav nav ul {
    list-style: none;
    display: flex;
    justify-content:flex-end;
    gap: 65px;
    padding: 30px;
}

.nav nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    font-weight: 500;
    margin-top: 10px;
}

.nav nav ul li a:hover{
    color: #ff9800;
}
.nav nav ul li a.active {
    color: #ff9800;
}
.para{
    position: absolute;
    color: white;
    font-size: 24px;
    margin-left: 90px;
    margin-top: 210px;
    padding: 10px;
}
.b1{
    padding: 10px;
    border-radius: 20px;
    background-color: #f19305;
    color: white;
    font-size: 25px;
    margin-top: 30px;
}
.b2{
    padding: 10px;
    border-radius: 20px;
    background-color: #f19305;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
.img1{
    height: 450px;
    width: 450px;
    margin-left: 900px;
    margin-top: 100px;
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.img2{
    height: 400px;
    width: 480px;
    margin-left: 200px;
    margin-top: 100px;
    position: relative;
}
 .a1{
   margin-top: -320px;
   font-weight: bold;
   margin-left: 950px;
}
.para2{
    margin-left: 780px;
    margin-top: 50px;
    font-size: 26px;
    
} 
.menu{
    margin-top: 200px;
}  
.product-card {
      width: 300px;          /* Medium width */
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      text-align: center;
      margin: auto;
      padding-bottom: 10px;
    }
    .product-img {
      width: 100%;
      height: 200px;         /* Medium height */
      object-fit: cover;
    }
    .price {
      color: #28a745;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    .cart-icon {
      font-size: 24px;
      color: #ff6600;
      cursor: pointer;
    }
    .carousel-item {
      padding: 20px 0;
    }